:root {
	--primary: #5E412F;
	--secondary: #78C0A8;
	--text: #FFFFFF;
	--disabled: #D4D4D4;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	color: var(--text);
	font-family: "Roboto", sans-serif;
}

body {
	background: var(--primary);
}

/* HEADER */
header {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	text-align: center;
}

#theme-switcher {
	position: relative;
}

#menu {
	background: var(--secondary);
	border-radius: 5px;
	padding: 5px;
}

#dropdown {
	animation: growDown 100ms ease-in-out forwards;
	transform-origin: top center;

	display: none;
	position: absolute;
	background-color: var(--disabled);
	min-width: 100px;
	border-radius: 10px;
	color: var(--text);
	overflow: hidden;
	transition: all 500ms;
}

#dropdown>p {
	padding: 10px;
}

#dropdown>p:hover {
	cursor: pointer;
	background-color: var(--secondary);
	color: var(--primary);
}

path{
	transition: all 500ms;
}
a:hover path{
	fill: var(--secondary);
}

#title {
	font-weight: 500;
	font-size: 2.5rem;
}

header>p {
	line-height: 4;
}
@keyframes growDown {
	0% {
		opacity: 0;
	}

	50% {
		opacity: .7;
	}

	100% {
		opacity: 1;
	}
}
@media screen and (max-width: 600px) {
	#title {
		font-size: 1.7rem;
	}
}